<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "simple cms", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% @subjects.each do |subject| %>
          <li><%= link_to subject.title, subject %></li>
        <% end %>
        <% if signed_in? %>
          <li><%= link_to "admin", admin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>